/* 思考内容样式 */
.think-content {
  background-color: #f5f5f5;
  border-left: 3px solid #ccc;
  padding: 10rpx 20rpx;
  margin: 10rpx 0;
  color: #666;
  font-size: 26rpx;
  line-height: 1.4;
  border-radius: 8rpx;
}

/* 流式响应动画 */
.streaming-indicator {
  display: flex;
  align-items: center;
  margin-top: 8rpx;
}

.dot {
  width: 8rpx;
  height: 8rpx;
  border-radius: 50%;
  background-color: #999;
  margin-right: 6rpx;
  animation: dot-flashing 1s infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dot-flashing {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}